*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.pytype
.DS_Store
.idea
.coverage
.coverage.*
__pycache__/
_build/
*.npz
*.zip

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv

*.sublime-project
*.sublime-workspace

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT

.coveragerc

.dockerignore

*.yml

.github/ISSUE_TEMPLATE/

.github/

conftest.py

CONTRIBUTING.md

data/

Dockerfile

docs/
gym/

Makefile

scripts/

stable_baselines/a2c/

stable_baselines/acer/

stable_baselines/acktr/

stable_baselines/bench/

stable_baselines/ddpg/

stable_baselines/gail/

stable_baselines/ppo1/

stable_baselines/ppo2/

stable_baselines/her/

stable_baselines/common/

tests/

setup.cfg

setup.py

stable_baselines/sac/

stable_baselines/td3/

stable_baselines/trpo_mpi/

stable_baselines/__init__.py


